//====================================================================================================
.page {
   // .page__about
   &__about {
   }
   // .home__services
   &__services {
   }
   // .page__portfolio
   &__portfolio {
   }
   // .page__price
   &__price {
   }
   // .page__what-say
   &__what-say {
   }
   // .page__question
   &__question {
   }
}
//====================================================================================================

//========================================================================================================================================================

.about-page {
   @include adaptiveValue("padding-top", 71, 57);
   @include adaptiveValue("padding-bottom", 71, 33);
   @media (max-width: $mobile) {
      padding-bottom: rem(0);
   }
   background-color: #f4f4f4;
   // .about-page__container
   &__container {
   }
   // .about-page__body
   &__body {
      max-width: rem(1070);
      display: flex;
      align-items: center;
      @media (max-width: $mobile) {
         flex-direction: column;
      }
   }
   // .about-page__column-title
   &__column-title {
      flex: 0 1 46.73%;
   }
   // .about-page__title
   &__title {
      // display: flex;
      // flex-direction: column;
      // display: block;
      max-width: rem(118);
      @media (max-width: $mobile) {
         // position: relative;
         margin-bottom: rem(28);
         // text-align: left;
      }
   }
   // .about-page__column-text
   &__column-text {
      flex: 0 1 53.3%;
      @media (max-width: $mobile) {
         margin-bottom: rem(28);
      }
   }
   // .about-page__text
   &__text {
      & p {
         &:not(:last-child) {
            margin-bottom: rem(30);
         }
      }
      @media (max-width: $mobile) {
         padding: rem(0) rem(15);
      }
   }
   // .about-page__btn
   &__btn {
      font-size: rem(14);
      line-height: 121.43%; /* 17/14 */
      color: $mainColor;
      text-transform: uppercase;
      margin-top: rem(27);
      padding-bottom: rem(2);
      border-bottom: 1px solid #d3a265;
      transition: color 0.3s;
      &:hover {
         color: #d3a265;
      }
   }
}

.block {
   // .block__content
   &__content {
   }
   // .block__more
   &__more {
      @media (min-width: $mobile) {
         visibility: hidden;
      }
   }
}

//========================================================================================================================================================
.services {
   @include adaptiveValue("padding-top", 80, 56);
   @include adaptiveValue("padding-bottom", 80, 56);
   // .services__container
   &__container {
   }
   // .services__inner
   &__inner {
      // padding: rem(0) rem(15);
   }
   // .services__title
   &__title {
      text-align: center;
      @include adaptiveValue("margin-bottom", 84, 30);
      @media (max-width: $mobile) {
         display: flex;
         max-width: rem(120);
         margin: 0 auto;
         margin-bottom: rem(0);
      }
   }
   // .services__row
   &__row {
      display: flex;
      column-gap: rem(30);
      row-gap: rem(52);
      flex-wrap: wrap;
      justify-content: center;
      align-self: center;
      @media (max-width: $mobile) {
         row-gap: rem(0);
      }
   }
   // .services__column
   &__column {
      flex: 0 1 0%;
      // min-width: rem(270);
      // max-width: rem(270);
      margin: 0 auto;
      @media (max-width: $mobile) {
         padding-top: rem(52);
         padding-bottom: rem(52);
         &:last-child {
            padding-bottom: rem(0);
            border-bottom: none;
         }
         flex: 0 1 100%;
         border-bottom: 1px solid #dcd1bb;
      }
   }
   // .services__card
   &__card {
      margin: 0 auto;
      min-width: rem(270);
      max-width: rem(270);
   }
}

.card {
   text-align: center;
   // .card__image
   &__image {
      display: flex;
      justify-content: center;
      // display: block;
      height: rem(131);
      margin: 0 auto;
      // align-items: center;
      &:not(:last-child) {
         // margin-bottom: rem(42);
         @include adaptiveValue("margin-bottom", 42, 44);
      }
   }
   // .card__title
   &__title {
      font-weight: 600;
      font-size: rem(18);
      line-height: 122.222222%; /* 22/18 */
      text-transform: uppercase;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 17, 33);
      }
   }
   // .card__text
   &__text {
      font-size: rem(16);
      line-height: 170%; /* 22/18 */
      color: #8d8d8d;
   }
}

//========================================================================================================================================================

.portfolio {
   padding-top: 4.875rem;
   padding-bottom: 4.875rem;
   background-color: #eef8d9;
   // .portfolio__container
   &__container {
   }
   // .portfolio__title
   &__title {
   }
   // .portfolio__filter
   &__filter {
      margin-bottom: 1.25rem;
   }
   // .portfolio__items
   &__items {
      position: relative; // ? не работает!!!
      width: 73.125rem; // ? не работает!!!
      height: 41.875rem; // ? не работает!!!
      margin: 0 auto;
      transition: all 0.3s;
      @media (max-width: 26.875rem) {
         width: auto !important;
      }
   }
   // .portfolio__item
   &__item {
      width: rem(270);
      &:not(:last-child) {
         // margin-bottom: 1.25rem;
      }
      @media (max-width: 26.875rem) {
         width: 100%;
      }
   }
}

.filter-portfolio {
   display: flex;
   align-items: center;
   column-gap: 1.875rem;
   row-gap: 0.3125rem;
   // .filter-portfolio__item
   &__item {
      font-size: 0.75rem;
      line-height: 2;
      color: #c4c4c4;
      transition: all 0.3s;
      &.active {
         color: $pageColor;
      }
      &:hover {
         color: $pageColor;
      }
   }
}

.article {
   // .article__image
   &__image {
      display: block;
      max-width: rem(270);
      // margin-bottom: 1.875rem;
      position: relative;
      height: rem(320);
      border-radius: 0.625rem;
      overflow: hidden;
      /* padding-bottom: 60%; убрать после настройки карточки */
      &:hover img {
         transform: scale(1.03);
      }
      img.init {
         position: absolute;
         // max-width: rem(270);
         width: 100%;
         height: 100%;
         height: rem(320);
         top: 0;
         left: 0;
         object-fit: cover;
         transition: all 0.3s;
         border-radius: 0.625rem;
      }
   }
}

//========================================================================================================================================================
.price {
   @include adaptiveValue("padding-top", 102, 50);
   @include adaptiveValue("padding-bottom", 102, 40);
   // .price__container
   &__container {
   }
   // .price__content
   &__content {
   }
   // .price__title
   &__title {
      text-align: center;
      @include adaptiveValue("margin-bottom", 70, 45);
   }
   // .price__prices
   &__prices {
   }
}

.prices {
   // .prices__row
   &__row {
      display: flex;
      // margin: 0 rem(-15);
      flex-wrap: wrap;
      max-width: rem(970);
      margin: 0 auto;
      justify-content: center;
      @include adaptiveValue("column-gap", 80, 0);
      row-gap: rem(30);
      @media (max-width: $tablet) {
         padding: rem(0) rem(20);
      }
   }
   // .prices__column
   &__column {
      display: flex;
      flex-direction: column;
      text-align: center;
   }
   // .prices__item
   &__item {
      min-width: rem(270);
      background: #fdfbf8;
      border: rem(2) solid #d3a265;
      border-radius: rem(10);
      transition: all 0.5s;
      &:hover {
         background: #d3a265;
         .card,
         .terms__text,
         .card__period {
            color: #fff;
         }
         .prices__button {
            background-color: #fff;
            color: $mainColor;
            @media (max-width: $tablet) {
               width: 100%;
               border-top: rem(2) solid #fdfbf8;
               border-radius: 0;
               background: #d3a265;
               color: #fff;
            }
         }
      }
   }
   // .prices__card
   &__card {
      max-width: rem(228);
      margin: 0 auto;
      &:not(:last-child) {
         margin-bottom: rem(54);
      }
      @media (max-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: rem(35);
         }
      }
   }
   // .prices__terms
   &__terms {
      &:not(:last-child) {
         margin-bottom: rem(54);
      }
   }
   // .prices__button
   &__button {
      display: inline-block;
      font-family: $fontFamily;
      text-align: center;
      font-size: rem(16);
      line-height: 150%; /* 24/16 */
      font-weight: 700;
      border: rem(2) solid #d3a265;
      border-radius: rem(10);
      padding: rem(12) rem(34);
      text-transform: uppercase;
      margin: 0px auto;
      cursor: pointer;
      margin-bottom: rem(32);
      &:hover {
         background-color: #d3a265;
         border: 2px solid #d3a265;
         color: #fff;
      }
      @media (max-width: $tablet) {
         width: 100%;
         border-top: rem(2) solid #d3a265;
         background-color: #d3a265;
         border-radius: 0 0 rem(8) rem(8);
         padding: rem(12) 0;
         color: #fff;
         margin-bottom: rem(0);
      }
   }
}

.card {
   // @include adaptiveValue("padding-top", 32, 26.5);
   font-family: "BN Chester Pro";
   color: $mainColor;
   padding-top: rem(27);
   // .card__subtitle
   &__subtitle {
      font-size: rem(24);
      @include adaptiveValue("font-size", 24, 20);
      line-height: 95.8%; /* 23/24 */
      font-weight: 600;
      &:not(:last-child) {
         margin-bottom: rem(31);
      }
   }
   // .card__payment
   &__payment {
      position: relative;
      font-weight: 600;
      &:not(:last-child) {
         margin-bottom: rem(54);
      }
      &::after {
         position: absolute;
         content: "";
         width: 100%;
         height: rem(2);
         background: #dcd1bb;
         bottom: rem(-27);
         left: 0;
      }
      @media (max-width: $tablet) {
         display: flex;
         gap: rem(13);
         align-items: baseline;
         justify-content: center;
      }
   }
   // .card__price
   &__price {
      @include adaptiveValue("font-size", 44, 28);
      line-height: 97.7%; /* 43/44 */
      margin-bottom: rem(7);
   }
   // .card__period
   &__period {
      font-size: rem(18);
      @include adaptiveValue("font-size", 18, 16);
      line-height: 94.4%; /* 17/18 */
      @media (max-width: $tablet) {
         color: #bbbbbb;
      }
   }
}

.terms {
   // .terms__text
   &__text {
      font-family: $fontFamily;
      @include adaptiveValue("font-size", 15, 14);
      line-height: 180%;
      color: $mainColor;
   }
}

//========================================================================================================================================================
//========================================================================================================================================================
.what-say {
   @include adaptiveValue("padding-top", 60, 40);
   @include adaptiveValue("padding-bottom", 60, 40);
   background: #f4f4f4;
   // .what-say__container
   &__container {
   }
   // .what-say__content
   &__content {
   }
   // .what-say__begins
   &__begins {
   }
   // .what-say__title
   &__title {
      text-align: center;
      @include adaptiveValue("margin-bottom", 87, 45);
   }
   // .what-say__items
   &__items {
      // display: flex;
      // column-gap: rem(30); // убрать
      // row-gap: rem(30); // убрать
      // // flex-wrap: wrap;// убрать
      // justify-content: center;
      // @media (max-width: $tablet) {
      //    flex-wrap: wrap; // убрать
      // }
   }
   // .what-say__item
   &__item {
      // flex: 0 1 50%;
      // max-width: rem(570);
      // @media (max-width: $tablet) {
      //    flex: 0 1 100%;
      // }
   }
}



/* ++++++++++++++++++++++++++++++++++ */
.what-say {
   // .what-say__slider
   &__slider {
   }
   // .what-say__wrapper
   &__wrapper {
      padding-bottom: rem(56);
   }
   // .what-say__slide
   &__slide {
      background-color: #fff;
      border-radius: rem(10);
      @include adaptiveValue("padding-top", 36, 20);
      @include adaptiveValue("padding-right", 43, 20);
      @include adaptiveValue("padding-bottom", 36, 30);
      @include adaptiveValue("padding-left", 91, 20);
      @media (max-width: $mobile) {
         padding: rem(25) rem(24) rem(34) rem(25);
      }
   }
   // .what-say__item
   &__item {
   }
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.item-what {
   // .item-what__author
   &__author {
   }
   // .item-what__text
   &__text {
      max-width: rem(410);
      padding-left: rem(10);
      @media (max-width: $tablet) {
         min-width: 100%;
      }
   }
}

.author-item {
   display: flex;
   align-items: center;
   margin-bottom: rem(30);
   @include adaptiveValue("column-gap", 35, 10);
   @media (max-width: $mobile) {
      column-gap: rem(15);
   }
   & > a:hover {
      display: block;
      text-decoration: none;
   }
   // .author-item__avatar
   &__avatar {
      // width: rem(172);
      // height: rem(172);
      // border-radius: 50%;
      object-fit: cover;
      flex: 0 0 rem(172);
		border-radius: 50%;
		overflow: hidden;
      img {
         width: rem(172);
         height: rem(172);
         border-radius: 50%;
         width: 100%;
         height: auto;
      }
      @media (max-width: $mobile) {
         width: rem(129);
         height: rem(129);
         img {
            width: rem(129);
            height: rem(129);
         }
      }
   }
   // .author-item__body
   &__body {
      font-weight: 500;
      font-size: rem(20);
      line-height: 120%; /* 24/20 */
   }
   // .author-item__name
   &__name {
      &:not(:last-child) {
         margin-bottom: rem(7);
      }
      @media (max-width: $mobile) {
         font-size: rem(16);
      }
   }
   // .author-item__position
   &__position {
      color: #b5b5b5;
      @include adaptiveValue("margin-bottom", 38, 15);
      @media (max-width: $mobile) {
         font-size: rem(14);
         margin-bottom: rem(20);
      }
   }
   // .author-item__socials
   &__socials {
      display: flex;
      gap: rem(16);
      justify-content: start;
   }
   // .author-item__link
   &__link {
   }
}

.swiper-pagination {
}

.swiper-horizontal > 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
   width: rem(14);
   height: rem(14);
   background-color: #d3a265;
}

//========================================================================================================================================================
.question {
   @include adaptiveValue("padding-top", 73, 45);
   @include adaptiveValue("padding-bottom", 73, 45);
   background-color: #fff;
   // .question__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      @media (max-width: $mobile) {
         display: block;
         text-align: center;
      }
   }
   // .question__title
   &__title {
      display: inline-block;
      max-width: rem(256);
      @media (max-width: $mobile) {
         display: flex;
         max-width: rem(205);
         margin: 0 auto;
         margin-bottom: rem(0);
         &:not(:last-child) {
            margin-bottom: rem(35);
         }
      }
   }
   // .question__button
   &__button {
      font-weight: 700;
      @media (max-width: $mobile) {
         width: 100%;
      }
   }
}
